doctype 5
html(lang="en")
	head
	title Seat
	link(rel="stylesheet", href="css/index.css")
	script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
	script(src="/socket.io/socket.io.js")
	script(src="js/build/scripts.js")
	body
		header
			a(href="http://www.seat.ru/", id="logo")
			ul#seat_menu
				li
					a(href="http://www.seat.ru/content/ru/brand/ru/company/we-are-seat.html") КОМПАНИЯ
				li
					a(href="http://www.seat.ru/content/ru/brand/ru/contact/dealersmaps.html") ДИЛЕРЫ SEAT
				li
					a(href="http://www.seat.ru/content/ru/brand/ru/news-and-events/seat-world.html") МИР SEAT
				li
					a(href="http://www.seat.ru/content/ru/brand/ru/finance/about-finance.html") SEAT ФИНАНС
				li
					a(href="http://www.seat.ru/content/ru/brand/ru/service/home.html") SEAT SERVICE
				li
					a(href="http://www.seat.ru/content/ru/brand/ru/contact/contacts.html") КОНТАКТЫ
			ul#seat_cars
				li
					a(href="http://www.seat.ru/content/ru/brand/ru/models/ibiza-5d/discover.html") IBIZA
				li
					a(href="http://www.seat.ru/content/ru/brand/ru/models/ibiza-sc/discover.html") IBIZA SC 
				li
					a(href="http://www.seat.ru/content/ru/brand/ru/models/ibiza-st/discover.html") IBIZA ST
				li
					a(href="http://www.seat.ru/content/ru/brand/ru/models/leon/leon-reference-copa.html") LEON COPA
				lI
					a(href="http://www.seat.ru/content/ru/brand/ru/models/new-leon/discover.html") NEW LEON
				li
					a(href="http://www.seat.ru/content/ru/brand/ru/models/leon-sc/discover.html") LEON SC
				li
					a(href="http://www.seat.ru/content/ru/brand/ru/models/altea-freetrack/discover.html") FREETRACK 4x4
				li 
					a(href="http://www.seat.ru/content/ru/brand/ru/models/alhambra/discover.html") ALHAMBRA 
				li 
					a(href="http://www.seat.ru/content/ru/brand/ru/news-and-events/special-offer/off.html") СПЕЦИАЛЬНЫЕ ПРЕДЛОЖЕНИЯ
		div#content
			div.car		
