doctype 5
html(lang="en")
	head
	title Seat
	link(rel="stylesheet", href="css/index.css")
	script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
	script(src="/socket.io/socket.io.js")
	script(src="js/scripts.js")
	body
		header
			a(href="http://www.seat.ru/", id="logo")
			ul#seat_menu
				li
					a(href="http://www.seat.ru/content/ru/brand/ru/company/we-are-seat.html") КОМПАНИЯ
				li
					a(href="http://www.seat.ru/content/ru/brand/ru/contact/dealersmaps.html") ДИЛЕРЫ SEAT
				li
					a(href="http://www.seat.ru/content/ru/brand/ru/news-and-events/seat-world.html") МИР SEAT
				li
					a(href="http://www.seat.ru/content/ru/brand/ru/finance/about-finance.html") SEAT ФИНАНС
				li
					a(href="http://www.seat.ru/content/ru/brand/ru/service/home.html") SEAT SERVICE
				li
					a(href="http://www.seat.ru/content/ru/brand/ru/contact/contacts.html") КОНТАКТЫ