doctype 5
html(lang="en")
	head
	title Seat
	script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
	script(src="/socket.io/socket.io.js")
	script(src="js/build/scripts.js")
	body
		h1 Jade - node template engine
		#container.col
		p.
			Jade is a terse and simple
			templating language with a
			strong focus on performance
			and powerful features.
		a(href="https://twitter.com/share", class="twitter-share-button", data-lang="ru") Твитнуть
		script
			!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);
			js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}
			(document,"script","twitter-wjs");